@model WeekProj5.Models.WeapDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WeapDetail</h4>
    <hr />

    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <div class="caption text-center">
                <h3>@Html.DisplayFor(model => model.Category.WeaponType)</h3>
                <h2>@Html.DisplayFor(model => model.Category2.Weapon)</h2>
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
